.us-background {
    background-image: url("./images/architecture-astrophotography-buildings-670269.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }